body.responsive {padding: 2%;margin:auto;background: white;
background-image: none;width: 100%;min-width: 1000px;height: auto;}
 header{color: Green;font-size: 100px;font-style: italic;}
 h1{color: red;font-style: italic;font-weight: bolder;}
 p{padding-top:2%;font-size:16px; color: black;font-family: Zapf-Chancery,cursive;font-style: italic;}
 a{color: purple;text-decoration: none;font-style: italic;}
 h2{color: black;font-style: italic;}
 h3{color: black;font-style: italic;}
 td{border:solid;border-color: black;border-width: 1px;background-color: white; width: 500px; height: auto;}
 strong{font-size: larger;}
 footer{background-color: white;}
 div.img-wrap{float: right;width: 40%;}
 img.responsive{max-width: 100%;height: auto;}
 span{color: green;}
 
 